---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Warehousing & Logistics Services",
    description:
      "We have a professional transportation team and a forklift operation team.",
    icon: "lucide:warehouse",
  },
  {
    title: "Technical Cleaning Related Business",
    description:
      "professional technical cleaning services. We provide a wide range of cleaning services, including industrial cleaning, equipment cleaning, and more.",
    icon: "lucide:brush-cleaning",
  },
  {
    title: "Production Technology Maintenance",
    description:
      "Rich experience in production equipment maintenance and repair, ensuring the normal operation of production lines.",
    icon: "lucide:settings",
  },
  {
    title: "Production Support",
    description:
      "provide comprehensive support for the production process, including material supply, equipment maintenance, and technical support.",
    icon: "lucide:headset",
  },
  {
    title: "Industrial assembly business",
    description:
      "The industrial assembly team possesses excellent assembly skills, ensuring the quality and efficiency of assembly work.",
    icon: "bx:chip",
  },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need for the industrial solutions
  </h2>
  <!-- <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p> -->
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
