---
import { SEO } from "astro-seo";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title ? title : "Title under Construction";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title="E-Vision GmbH | Innovative Energy and Industrial Solutions"
      description="E-Vision GmbH is a diversified company specializing in exceptional energy-related services and industrial solutions. With years of industry experience, a professional team, and innovative approaches, we deliver one-stop solutions tailored to the diverse needs of clients in the energy and industrial sectors."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "E-Vision GmbH | Energy & Industrial Solutions Provider",
          image: resolvedImageWithDomain, // 建议配一张1200x630大横图，路径如 "/opengraph.jpg"
        },
        image: {
          alt: "E-Vision GmbH – Energy and Industrial Solutions Overview",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
